.gradientBackground {
  background: linear-gradient(-25.39deg, rgba(255, 255, 255, 0.024) 18.54%, rgba(93, 187, 70, 0.108) 62.25%);
  z-index: -1;
  border-radius: 32px;
}

.gradientCard {
  position: relative;
  border-radius: 68px;
  box-sizing: border-box;
}

.gradientText1 {
  background: linear-gradient(-25.39deg, rgba(239, 255, 226, 0.8) 30.54%, rgba(199, 255, 185, 0.87) 70.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.gradientText2 {
  background: linear-gradient(-15.39deg, rgba(239, 255, 226, 0.8) 70.54%, rgba(212, 245, 204, 0.87) 30.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.gradientText3 {
  background: linear-gradient(-5.39deg, rgba(239, 255, 226, 0.6) 40.54%, rgba(226, 247, 220, 0.7) 60.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 640px) {
  .gradientText1 {
    background: linear-gradient(-25.39deg, rgba(239, 255, 226, 0.8) 50.54%, rgba(199, 255, 185, 0.87) 80.25%);
  }

  .gradientText2 {
    background: linear-gradient(-15.39deg, rgba(239, 255, 226, 0.8) 80.54%, rgba(212, 245, 204, 0.87) 50.25%);
  }

  .gradientText3 {
    background: linear-gradient(-5.39deg, rgba(239, 255, 226, 0.6) 60.54%, rgba(226, 247, 220, 0.7) 70.25%);
  }
}

.gradientCard::before {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: 68px;
  padding: 1px;
  background: radial-gradient(
    65.6% 145.73% at 90.52% 2.09%,
    rgba(255, 255, 255, 0.3) 2.08%,
    rgba(255, 255, 255, 0) 53.65%,
    rgba(123, 245, 93, 0.135) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (min-width: 640px) {
  /* Small screens and up */
  .gradientBackground {
    border-radius: 48px;
  }
}

@media (min-width: 1024px) {
  /* Large screens and up */
  .gradientBackground {
    border-radius: 68px;
  }
}

.gradientCard {
  position: relative;
  border-radius: 32px; /* Default border radius */
  box-sizing: border-box;
}

.gradientCard::before {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: 32px; /* Default border radius */
  padding: 1px;
  background: radial-gradient(
    65.6% 145.73% at 90.52% 2.09%,
    rgba(255, 255, 255, 0.3) 2.08%,
    rgba(255, 255, 255, 0) 53.65%,
    rgba(123, 245, 93, 0.135) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (min-width: 640px) {
  /* Small screens and up */
  .gradientCard,
  .gradientCard::before {
    border-radius: 48px;
  }
}

@media (min-width: 1024px) {
  /* Large screens and up */
  .gradientCard,
  .gradientCard::before {
    border-radius: 68px;
  }
}

.text-glow-shadow {
  text-shadow: 0px 0px 61px #53fb2a, 0px 0px 42px #e9e11f, 0px 0px 12px #53fb2a;
}

@keyframes infinite-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infinite-rotate {
  animation: infinite-rotate 10s linear infinite;
}

/* Adjust rotation speed for different screen sizes */
@media (min-width: 640px) {
  .infinite-rotate {
    animation-duration: 8s;
  }
}

@media (min-width: 1024px) {
  .infinite-rotate {
    animation-duration: 6s;
  }
}
