.gradientBackground {
  background: linear-gradient(-25.39deg, rgba(255, 255, 255, 0.024) 18.54%, rgba(123, 245, 93, 0.108) 62.25%);
  z-index: -1;
  border-radius: 32px;
}


.gradientCard {
  position: relative;
  border-radius: 68px;
  box-sizing: border-box;
}

.gradientCard::before {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: 68px;
  padding: 1px;
  background: radial-gradient(
    65.6% 145.73% at 90.52% 2.09%,
    rgba(255, 255, 255, 0.3) 2.08%,
    rgba(255, 255, 255, 0) 53.65%,
    rgba(123, 245, 93, 0.135) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (min-width: 640px) {
  /* Small screens and up */
  .gradientBackground {
    border-radius: 48px;
  }
}

@media (min-width: 1024px) {
  /* Large screens and up */
  .gradientBackground {
    border-radius: 68px;
  }
}

.gradientCard {
  position: relative;
  border-radius: 32px; /* Default border radius */
  box-sizing: border-box;
}

.gradientCard::before {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: -1;
  border-radius: 32px; /* Default border radius */
  padding: 1px;
  background: radial-gradient(
    65.6% 145.73% at 90.52% 2.09%,
    rgba(255, 255, 255, 0.3) 2.08%,
    rgba(255, 255, 255, 0) 53.65%,
    rgba(123, 245, 93, 0.135) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (min-width: 640px) {
  /* Small screens and up */
  .gradientCard,
  .gradientCard::before {
    border-radius: 48px;
  }
}

@media (min-width: 1024px) {
  /* Large screens and up */
  .gradientCard,
  .gradientCard::before {
    border-radius: 68px;
  }
}
