
/* Making the gradient text using the orange_square img */
.gradient-text {
    text-transform: uppercase;
    background: url("/assets/orange_square.png") 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }