@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*
for debugging css xD 
*/
/* *{
  outline: 1px solid red;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 1280px) and (orientation: portrait) {
  .responsive_height--hero{
    height: 100svh;
    min-height: 800px;  /* Use 100svh for portrait */
  }
}

@media (max-width: 1280px) and (orientation: landscape) {
  .responsive_height--hero{
    min-height: 1000px; /* Use 800px for landscape */
  }
}

@media (max-width: 1280px) and (orientation: portrait) {
  .responsive_height--markup {
    height: 100svh;
    min-height: 700px; /* Use 100svh for portrait */
  }
}

@media (max-width: 1280px) and (orientation: landscape) {
  .responsive_height--markup {
    min-height: 1000px; /* Use 800px for landscape */
  }
}
